<form class="c-form"
        {% if inventory %}
            action="{{ url_for('inventory.update_inventory', inventory_id=inventory.id) }}"
        {% else %}
            action="{{ url_for('inventory.insert_inventory') }}"
        {% endif %}

        method="{% if inventory %}PUT{% else %}POST{% endif %}"

        {% if inventory %}
            c-swap="#inventory-{{inventory.id}}"
        {% else %}
            c-append="#inventories_list"
        {% endif %}

        c-reload-container="true">

    <div class="mb-3">
      <label class="form-label">Id do produto</label>
      <input type="number" class="form-control" name="product_id" {% if inventory %}value="{{inventory.product_id}}"{% endif %}>
    </div>

    <button type="submit" class="btn btn-primary">
        {% if inventory %}Salvar{% else %}Criar{% endif %}
    </button>
</form>