<form class="c-form"
        {% if inventory %}
            action="{{ url_for('inventory.update_inventory', inventory_id=inventory.id) }}"
        {% else %}
            action="{{ url_for('inventory.insert_inventory') }}"
        {% endif %}

        method="{% if inventory %}PUT{% else %}POST{% endif %}"

        {% if inventory %}
            c-swap="#inventory-{{inventory.id}}"
        {% else %}
            c-append="#inventories_list"
        {% endif %}

        c-reload-container="true">

    <div class="mb-3">
      <label class="form-label">Product id</label>
      <input type="text" class="form-control" name="product_id" {% if inventory %}value="{{inventory.product_id}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Current quantity</label>
        <input type="text" class="form-control" name="current_quantity" {% if inventory %}value="{{inventory.current_quantity}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Losses</label>
        <input type="text" class="form-control" name="losses" {% if inventory %}value="{{inventory.losses}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Entry</label>
        <input type="text" class="form-control" name="entry" {% if inventory %}value="{{inventory.entry}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Exit</label>
        <input type="text" class="form-control" name="exit" {% if inventory %}value="{{inventory.exit}}"{% endif %}>
    </div>


    <button type="submit" class="btn btn-primary">
        {% if inventory %}Save{% else %}Create{% endif %}
    </button>
</form>