<form class="c-form"
        {% if buy %}
            action="{{ url_for('buy.update_buy', buy_id=buy.id) }}"
        {% else %}
            action="{{ url_for('buy.insert_buy') }}"
        {% endif %}

        method="{% if buy %}PUT{% else %}POST{% endif %}"

        {% if buy %}
            c-swap="#buy-{{buy.id}}"
        {% else %}
            c-append="#buys_list"
        {% endif %}

        c-reload-container="true">

    <div class="mb-3">
        <label class="form-label">Data</label>
        <input type="date" class="form-control" name="date" {% if buy %}value="{{buy.date}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Quantidade</label>
        <input type="number" class="form-control" name="quantity" {% if buy %}value="{{buy.quantity}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Id do produto</label>
        <input type="number" class="form-control" name="product_id" {% if buy %}value="{{buy.product_id}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Id do fornecedor</label>
        <input type="number" class="form-control" name="provider_id" {% if buy %}value="{{buy.provider_id}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Custo</label>
        <input type="number" class="form-control" name="cost" {% if buy %}value="{{buy.cost}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Id do usuario</label>
        <input type="number" class="form-control" name="user_id" {% if buy %}value="{{buy.user_id}}"{% endif %}>
    </div>

    <button type="submit" class="btn btn-dark mt-3 mb-2">
        {% if buy %}Salvar{% else %}Criar{% endif %}
    </button>
</form>