<tr id="buy-{{buy.id}}">
    <th scope="row">{{ buy.id }}</th>
    <td>{{ buy.date }}</td>
    <td>{{ buy.product.name }}</td>
    <td>{{ buy.provider.name }}</td>
    <td>{{ buy.quantity }}</td>
    <td>{{ buy.cost }}</td>
    
    <td> 
        <button class="btn btn-primary"
            c-get="{{ url_for('buy.buy_edit_form', buy_id=buy.id) }}"
            c-target="#buy-form">
                Editar
        </button>

        <button class="btn btn-danger"
            c-delete="{{ url_for('buy.delete_buy', buy_id=buy.id) }}"
            c-target="#buy-form"
            c-remove-closest="tr">
                Deletar
        </button>
    </td>
</tr>