<form class="c-form"
        {% if product %}
            action="{{ url_for('product.update_product', product_id=product.id) }}"
        {% else %}
            action="{{ url_for('product.insert_product') }}"
        {% endif %}

        method="{% if product %}PUT{% else %}POST{% endif %}"

        {% if product %}
            c-swap="#product-{{product.id}}"
        {% else %}
            c-append="#products_list"
        {% endif %}

        c-reload-container="true">

    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" {% if product %}value="{{product.name}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <input type="text" class="form-control" name="category" {% if product %}value="{{product.category}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" class="form-control" name="price" {% if product %}value="{{product.price}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Quality</label>
        <input type="text" class="form-control" name="quality" {% if product %}value="{{product.quality}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Seasonality</label>
        <input type="text" class="form-control" name="seasonality" {% if product %}value="{{product.seasonality}}"{% endif %}>
    </div>

    <div class="mb-3">
        <label class="form-label">Climate id</label>
        <input type="text" class="form-control" name="climate_id" {% if product %}value="{{product.climate_id}}"{% endif %}>
    </div>

    <button type="submit" class="btn btn-primary">
        {% if product %}Save{% else %}Create{% endif %}
    </button>
</form>