<tr id="product-{{product.id}}">
    <th scope="row">{{ product.id }}</th>
    <td>{{ product.name }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.price }}</td>
    <td>
        <button class="btn btn-primary"
            c-get="{{ url_for('product.product_edit_form', product_id=product.id) }}"
            c-target="#product-form">
                Editar
        </button>

        <button class="btn btn-danger"
            c-delete="{{ url_for('product.delete_product', product_id=product.id) }}"
            c-target="#product-form"
            c-remove-closest="tr">
                Deletar
        </button>
    </td>
</tr>