<tr id="climate-{{climate.id}}">
    <th scope="row">{{ climate.id }}</th>
    <td>{{ climate.date }}</td>
    <td>{{ climate.temperature }}</td>
    <td>{{ climate.product_impact }}</td>

    <td>
        <button class="btn btn-primary"
            c-get="{{ url_for('climate.climate_edit_form', climate_id=climate.id) }}"
            c-target="#climate-form">
                Edit
        </button>

        <button class="btn btn-danger"
            c-delete="{{ url_for('climate.delete_climate', climate_id=climate.id) }}"
            c-target="#climate-form"
            c-remove-closest="tr">
                Delete
        </button>
    </td>
</tr>